<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Types -->

    <type name="Magento\Payment\Model\Checks\SpecificationFactory">
        <plugin name="smaex_whitelist_additional_checks" type="Smaex\AdditionalPaymentChecks\Plugin\WhitelistAdditionalChecks"/>
    </type>

</config>
